#bgimage{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url("AboutUS.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;  
}
#navigation{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: white;
    display: inline-block;

}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative; right: 150px;
    font-family: Poppins,sans-serif;
    
    
}
#main_logo{
    width: auto;
    height: 70px;;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
#header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1px;
    align-items: center;  

    
}
#contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 600px;
}
#google{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25px;
    height: 35px;
    padding-left: 20px;

    
}
#search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 150px;
    position: relative; 
    border: 2px solid;
    border-radius: 5%;
}
#eclassroom{
    padding-left: 10px;
    position: relative; top: 10px;
}
#phone{
    background-color: transparent;
    color: orange;
}
a.active,a:hover{background: #ffffff;
    color: orange;   
transition: .5s;
}
.content{ 
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color:rgb(14, 78, 150);
}
#Service{
    margin-bottom: 7px;
    margin-top: 10px;
    line-height: 100%;
    font-family: Poppins,sans-serif;
    font-size: 50px;
    font-weight: 300;

}
#Paragraph{
    margin-top: 0px;    
    font-family: Poppins,sans-serif;
    font-weight: 200;
    padding-bottom: 20px;
}
#mini a{
    text-decoration: none;
}
#margin{
    border: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: dotted;
}
#details{
    font-family: Poppins,sans-serif;
    margin-left: 15%;
}
#title h1{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color:rgb(14, 78, 150);
    margin-top: 40px;
    margin-left: 100px;
    width: 1100px;
    padding: 15px;
}
#aboutus{
    width: 1350px;
}
#Info,#margin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1350px;
}
#sub-title1, #sub-title2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sub-title1{
    height: 30px;
    width: 205px;
}
#sub-title2{
    height: 30px;
    width: 185px;
}
#here a{
    text-decoration: none;
}
#top{
    margin-bottom: 0px;
    line-height: 100%;
}
#bottom{
    margin-top: 0px;
}
#list ul{
    list-style-type: none;
}
#list ul li::before{
    content: "\2022";
    color: rgb(14, 78, 150);
    font-weight: bold;
    display: inline-block;
    width:1em;
    margin-left: -1em;
}