#navigation{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-color: white;
    display: inline-block;

}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative; right: 150px;
    
    
}
#main_logo{
    width: auto;
    height: 90px;
    margin-top: 40px;
    margin-left: 60px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: Questrial,sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1px;
    align-items: center;
     

    
}
#contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width: fit-content;
}
#google{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 30px;


    
}
#search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 150px;
    position: relative; 
    border: 2px solid;
    border-radius: 5%;
}
#eclassroom{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;

    
}
#phone{
    display: block;
    font-size: 20px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: #fa9426;
    margin: 0;
    padding: 0;
    border: 0;
    
}
a.active,a:hover{background: #ffffff;
    color: orange;   
transition: .5s;
}
.content{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;

    /* position: relative; top: 300px; */
    font-weight: bold;
}
#background{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url("SECTION1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    justify-content: end;
    align-items: center;  
}
#Service{
    margin-bottom: 24px;
    line-height: 100%;
    font-family: Poppins,sans-serif;
    font-size: 60px;
    font-weight: 700;
}
#paragraph{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    width: 500px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;

}
#section1btn{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
#section1btn ul li{
    
    display: inline-block;
    width: 281px;
    height: 47px;
    line-height: 47px;
    background: linear-gradient(270deg,#fa9426 3%,#fbc42a 118%);
    color: #fff;
    text-align: center;
    vertical-align: top;
    border-radius: 60px;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 500;
    /* margin: 37px 12px 0; */
   
}
#section1btn ul li a{
    text-decoration: none;

}
.section2_info h2 {
    line-height: 100%;
    color: #fbc42a;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 26px;
    text-align: center;

}
.section2_info{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    align-self: center;
    padding-top: 1%;
    align-items: center;
    
}
#spaninfo2 {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-family: Poppins,sans-serif;
    font-size: 50px;
    line-height: 59px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    
}
#section2{
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 83, 231);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
#section2p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    color: white;
}
.section2itmsleft{
    display: inline-block;
    vertical-align: top;
    width: 34%;
    height: auto;
    padding: 39px 100px 20px 50px;
    background: #006feb;
    max-width: 458px;
    min-height: 202px;
    color: #fff;
    text-align: left;
    margin: 5px;


}
.section2itmsleft h2 span {
    display: block;
    color: #fff;
}
.section2itmsleft h2 {
    line-height: 29px;
    font-family: Poppins,sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding-left: 63px;
    margin-bottom: 20px;
    color: #fbc42a;

}
.section2itmsleft p {
    align-self: center;
    display: block;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}
.section2itmsleft a {
    right: 30px;

}

.section2itmsleft a {
    display: block;
    position: inherit;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background: linear-gradient(270deg,#fa9426 3%,#fbc42a 118%);
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    bottom: 45px;
    right: 46px;

}

.wrapper {
    width: 100%;
    max-width: 1375px;
    margin: auto;
    position: relative;
}