#bgimage {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#displayimg{
    max-height: 641px;
}
#navigation {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 80%;
    background-color: white;
    flex-wrap: wrap;
    margin-left: 30%;

}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    right: 150px;


}

#main_logo {
    width: auto;
    height: 90px;
    margin-top: 40px;
    margin-left: 60px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Questrial', sans-serif;
}

#header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1px;
    align-items: center;
}

#div-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 600px;
}

#google {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25px;
    height: 35px;
    padding-left: 20px;


}

#search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 150px;
    position: relative;
    border: 2px solid;
    border-radius: 5%;
}

#eclassroom {
    padding-left: 10px;
    position: relative;
    top: 10px;
}

#phone {
    background-color: transparent;
    color: orange;
}

a.active,
a:hover {
    background: #ffffff;
    color: orange;
    transition: .5s;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(14, 78, 150);
    flex-wrap: wrap;
    max-width: 100%;
}

#Service {
    margin-bottom: 7px;
    margin-top: 10px;
    line-height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 3vw;
    font-weight: 300;

}

#Paragraph {
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    font-size: 1vw;
    padding-bottom: 20px;
}

#mini a,#mini {
    text-decoration: none;
    font-size: 1.5vw;
}
#number{
    font-size: 1vw; 
}

#margin {
    border: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: dotted;
}

#details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: Poppins, sans-serif;  
    max-width: 100%;
    flex-wrap: wrap ;
    font-size: 1.5vw;
}
#det-logo{
    height: auto;
    max-width: 100%;
}

#redirect #number {
    font-size: 15px;
}

#information {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
    background-color: rgb(14, 78, 150);
    padding: 100px;
    font-size: 20px;
    max-width: 100%;
}

#information #profile,
#information #details {
    margin: 10px;
}

#title h1 {
    background-color: rgb(14, 78, 150);
    padding: 5px;
    width: 99.2%;
}

#margin {
    border: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: dotted;
}

#redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: -8px;
    margin-right: -10px;
    font-size: 20px;
    width: 84%;
}

#profile {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15vw;
    width: 15vw;
    padding: 2vw;
}

.detaildiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copybttn {
    height: 2vw;
    width: 2vw;
    margin-left: 1.2vw;

}

.clipboard {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -.5vw;
}

#dis.img {
    height: 10px;
    width: 10px;
}

@media screen and (max-width: 768px) {}