#bgimage {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#displayimg{
    max-height: 641px;
}
#navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: white;
    flex-wrap: wrap;
    margin-left: 26%;
    font-size: 1.2vw;

}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    right: 150px;


}

#main_logo{
    width: auto;
    height: 90px;
    margin-top: 40px;
    margin-left: 60px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.117vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a {
    list-style-type: none;
    display: inline-block;
    padding: 0.391vw;
    text-decoration: none;
    color: black;
    font-family: 'Questrial', sans-serif;
}

#header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1px;
    align-items: center;
}

#div-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 15px;
    flex: wrap;
}

#contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
}
#contact option{
    font-size: 1vw;
}
#google {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1.302vw;
    height: 1.823vw;
    padding-left: 20px;


}

#search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1.563vw;
    width: 9vw;
    position: relative; 
    border: 2px solid;
    border-radius: 5%;
    font-size: 1vw;
}
#search option{
    font-size: 1vw;
}

#eclassroom {
    height: 8vw;
    padding-left: 1vw;
    position: relative;
    top: 1vw;
}
#phone{
    display: block;
    font-size: 1.3vw;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: #fa9426;
    margin: 0;
    padding: 0;
    border: 0;
    
}

a.active,
a:hover {
    background: #ffffff;
    color: orange;
    transition: .5s;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(14, 78, 150);
    flex-wrap: wrap;
    max-width: 100%;
}

#Service {
    font-size: 3vw;
    margin-bottom: .5vw;
    margin-top: 1vw;
    line-height: 100%;
    font-family: Poppins, sans-serif;
    font-weight: 300;

}

#Paragraph {
    font-size: 1vw;
    margin-top: 0vw;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    padding-bottom: 1vw;
}

#mini a,#mini {
    text-decoration: none;
    font-size: 1.5vw;
}
#number p{
    font-size: 1.2vw; 
}

#margin {
    border: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: dotted;
}

#details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: Poppins, sans-serif;  
    max-width: 100%;
    flex-wrap: wrap ;
    font-size: 1.5vw;
}
#det-logo{
    height: auto;
    max-width: 50vw;
}

#information {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
    background-color: rgb(14, 78, 150);
    padding: 5vw;
    font-size: 20px;
    max-width: 100%;
}

#information #profile,
#information #details {
    margin: 1vw;
}

#divider h1 {
    background-color: rgb(14, 78, 150);
    padding: .5vw;
    width: 99.2%;
}

#margin {
    border: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: dotted;
}

#redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 84%;
}

#profile {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15vw;
    width: 15vw;
    padding: 2vw;
}

.detaildiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copybttn {
    height: 2vw;
    width: 2vw;
    margin-left: 1.2vw;

}

.clipboard {
    height: 1vw;
    width: 1vw;
}

#dis.img {
    height: 10px;
    width: 10px;
}
@media only screen and (max-width: 2560px) {
    #main_logo{
        width: auto;
        height: 120px;
        margin-top: 40px;
        margin-left: 60px;
    }
    #navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        background-color: white;
        flex-wrap: wrap;
        font-size: 20px;
    
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 2.995px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    nav ul li a {
        list-style-type: none;
        display: inline-block;
        padding: 10.01px;
        text-decoration: none;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    #bgimage {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: auto;
        width: 1600px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background-color: rgb(14, 78, 150);
        flex-wrap: wrap;
        max-width: 100%;
    }
    #Service {
        font-size: 76.8px;
        margin-bottom: 12.8px;
        margin-top: 25.6px;
        line-height: 100%;
        font-family: Poppins, sans-serif;
        font-weight: 300;
    
    }
    #Paragraph {
        font-size: 25.6px;
        margin-top: 0vw;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        padding-bottom: 25.6px;
    }
    #mini a,#mini {
        text-decoration: none;
        font-size: 35.4px;
    }
    #number p{
        font-size: 24.72px; 
    }
    #divider h1 {
        background-color: rgb(14, 78, 150);
        padding: 12.8px;
        width: 99.2%;
    }
    #det-logo{
        height: auto;
        max-width: 940px;
    }
    #details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-family: Poppins, sans-serif;  
        max-width: 100%;
        flex-wrap: wrap ;
        font-size: 38.4px;
    }
}
@media only screen and (max-width: 1440px) {
    #main_logo{
        width: auto;
        height: 67.507px;
        margin-top: 22.507px;
        margin-left: 33.754px;
    }
    #navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        background-color: white;
        flex-wrap: wrap;
        margin-left: 30%;
        font-size: 17.28px;
    
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 1.685px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    nav ul li a {
        list-style-type: none;
        display: inline-block;
        padding: 5.63px;
        text-decoration: none;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background-color: rgb(14, 78, 150);
        flex-wrap: wrap;
        max-width: 100%;
    }
    #Service {
        font-size: 43.2px;
        margin-bottom: 72px;
        margin-top: 14.4px;
        line-height: 100%;
        font-family: Poppins, sans-serif;
        font-weight: 300;
    
    }
    #Paragraph {
        font-size: 14.4px;
        margin-top: 0vw;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        padding-bottom: 14.4px;
    }
    #mini a,#mini {
        text-decoration: none;
        font-size: 21.6px;
    }
    #number p{
        font-size: 17.28px; 
    }
    #divider h1 {
        background-color: rgb(14, 78, 150);
        padding: 7.2px;
        width: 99.2%;
    }
    #det-logo{
        height: auto;
        max-width: 720px;
    }
    #details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-family: Poppins, sans-serif;  
        max-width: 100%;
        flex-wrap: wrap ;
        font-size: 21.6px;
    }
}
@media only screen and (max-width: 1024px) {
    #main_logo{
        width: auto;
        height: 48.005px;
        margin-top: 16.005px;
        margin-left: 24.003px;
    }
    #navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        background-color: white;
        flex-wrap: wrap;
        margin-left: 35%;
        font-size: 12.288px;
    
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 1.198px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    nav ul li a {
        list-style-type: none;
        display: inline-block;
        padding: 4.004px;
        text-decoration: none;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background-color: rgb(14, 78, 150);
        flex-wrap: wrap;
        max-width: 100%;
    }
    #Service {
        font-size: 30.72px;
        margin-bottom: 5.12px;
        margin-top: 10.24px;
        line-height: 100%;
        font-family: Poppins, sans-serif;
        font-weight: 300;
    
    }
    #Paragraph {
        font-size: 10.24px;
        margin-top: 0vw;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        padding-bottom: 10.24px;
    }
    #mini a,#mini {
        text-decoration: none;
        font-size: 15.36px;
    }
    #number p{
        font-size: 12.288px; 
    }
    #divider h1 {
        background-color: rgb(14, 78, 150);
        padding: 5.12px;
        width: 99.2%;
    }
    #det-logo{
        height: auto;
        max-width: 512px;
    }
    #details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-family: Poppins, sans-serif;  
        max-width: 100%;
        flex-wrap: wrap ;
        font-size: 15.36px;
    }
    .copybttn {
        height: 20.48px;
        width: 20.48px;
    
    }
    
    .clipboard {
        height: 10.24px;
        width: 10.24px;
        margin-left: -3px;
    }
}

@media only screen and (max-width: 768px) {
    #main_logo{
        width: auto;
        height: 36.004px;
        margin-top: 12.004px;
        margin-left: 18.002px;
    }
    #navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        background-color: white;
        flex-wrap: wrap;
        margin-left: 40%;
        font-size: 9.216px;
    
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0.899px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    nav ul li a {
        list-style-type: none;
        display: inline-block;
        padding: 3.003px;
        text-decoration: none;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background-color: rgb(14, 78, 150);
        flex-wrap: wrap;
        max-width: 100%;
    }
    #Service {
        font-size: 23.04px;
        margin-bottom: 3.84px;
        margin-top: 7.68px;
        line-height: 100%;
        font-family: Poppins, sans-serif;
        font-weight: 300;
    
    }
    #Paragraph {
        font-size: 7.68px;
        margin-top: 0vw;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        padding-bottom: 7.68px;
    }
    #mini a,#mini {
        text-decoration: none;
        font-size: 11.52px;
    }
    #number p{
        font-size: 9.216px; 
    }
    #divider h1 {
        background-color: rgb(14, 78, 150);
        padding: 3.84px;
        width: 99.2%;
    }
    #det-logo{
        height: auto;
        max-width: 384px;
    }
    #details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-family: Poppins, sans-serif;  
        max-width: 100%;
        flex-wrap: wrap ;
        font-size: 11.52px;
    }
    .copybttn {
        height: 15.36px;
        width: 15.36px;
    
    }
    
    .clipboard {
        height: 7.68px;
        width: 7.68px;
        margin-bottom: 4px;
        margin-left: -4px;
    }
}
@media only screen and (max-width: 425px) {
    #main_logo{
        width: auto;
        height: 19.924px;
        margin-top: 6.643px;
        margin-left: 9.962px;
    }
    #navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        background-color: white;
        flex-wrap: wrap;
        margin-left: 35%;
        font-size: 5.1px;
    
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0.497px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    nav ul li a {
        list-style-type: none;
        display: inline-block;
        padding: 1.662px;
        text-decoration: none;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background-color: rgb(14, 78, 150);
        flex-wrap: wrap;
        max-width: 100%;
    }
    #Service {
        font-size: 12.75px;
        margin-bottom: 2.125px;
        margin-top: 4.25px;
        line-height: 100%;
        font-family: Poppins, sans-serif;
        font-weight: 300;
    
    }
    #Paragraph {
        font-size: 4.25px;
        margin-top: 0vw;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        padding-bottom: 4.25px;
    }
    #mini a,#mini {
        text-decoration: none;
        font-size: 6.375px;
    }
    #number p{
        font-size: 5.1px; 
    }
    #divider h1 {
        background-color: rgb(14, 78, 150);
        padding: 2.125px;
        width: 99.2%;
    }
    #det-logo{
        height: auto;
        max-width: 212.5px;
    }
    #details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-family: Poppins, sans-serif;  
        max-width: 100%;
        flex-wrap: wrap ;
        font-size: 6.375px;
    }
    .copybttn {
        height: 8.5px;
        width: 8.5px;
    }
    
    .clipboard {
        height: 4.25px;
        width: 4.25px;
        margin-bottom: 10px;
        margin-left: -2px;
        margin-top: -1px;
    }
}
@media only screen and (max-width: 375px) {
    #main_logo{
        width: auto;
        height: 17.58px;
        margin-top: 5.861px;
        margin-left: 8.79px;
    }
    #navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: 80%;
        margin-top: 20px;
        background-color: white;
        flex-wrap: wrap;
        margin-left: 35%;
        font-size: 4.5px;
    
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0.439px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    nav ul li a {
        list-style-type: none;
        display: inline-block;
        padding: 1.466px;
        text-decoration: none;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background-color: rgb(14, 78, 150);
        flex-wrap: wrap;
        max-width: 100%;
    }
    #Service {
        font-size: 11.25px;
        margin-bottom: 1.875px;
        margin-top: 3.75px;
        line-height: 100%;
        font-family: Poppins, sans-serif;
        font-weight: 300;
    
    }
    #Paragraph {
        font-size: 3.75px;
        margin-top: 0vw;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        padding-bottom: 3.75px;
    }
    #mini a,#mini {
        text-decoration: none;
        font-size: 5.625px;
    }
    #number p{
        font-size: 4.5px; 
    }
    #divider h1 {
        background-color: rgb(14, 78, 150);
        padding: 1.875px;
        width: 99.2%;
    }
    #det-logo{
        height: auto;
        max-width: 187.5px;
    }
    #details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-family: Poppins, sans-serif;  
        max-width: 100%;
        flex-wrap: wrap ;
        font-size: 5.625px;
    }
    .copybttn {
        height: 7.5px;
        width: 7.5px;
    }
    
    .clipboard {
        height: 3.75px;
        width: 3.75px;
        margin-top: -5px;
        margin-bottom: 9.5px;
    }
}
